@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  /* background-color: rgb(71 85 105);  */
  /* TW: bg-slate-600 */
}

a {
  color: #2563eb;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .striped li:nth-child(even) {
    @apply bg-slate-600 rounded-lg;
  }
}

/* button {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: aliceblue;
  padding: 5px;
} */

/* button:hover {
  background-color: rgb(210, 227, 242);
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
